/* Importing the 'Signika' font family from Google Fonts with various font weights for website styling. */

/* Tailwind CSS directives for base styles, components, and utilities. */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}
